# dlt
**/.dlt/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE-specific files
.vscode/
.idea/


# Database files
*.duckdb
*.duckdb.wal
*.db
*.sqlite
*.sqlite3

*.csv

# Other large data formats
*.parquet
*.arrow

# Configuration and environment
.env
.DS_Store
Thumbs.db

# Backup files
*.bak